{% extends 'base.html.twig' %}

{% block title %}Votre commande!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{success}}
    </div>
{% endfor %}

{% endblock %}
